  version: "3.7"
  services:
    backend:
      image: jakubhajek/nodejs-backend
      networks:
        - phpfpmnetwork
      deploy:
        mode: replicated
        replicas: 3
        labels:
        - traefik.port=3000
        - traefik.docker.network=proxy
        - traefik.frontend.rule=Host:node-app.cometari.com
        resources:
          limits:
            memory: 128M
    traefik:
      image: traefik
      ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
      networks:
        - phpfpmnetwork
      command:
        - --api
        - --docker
        - --docker.swarmmode
        - --docker.watch
        - --entrypoints=Name:http Address::80 Redirect.EntryPoint:https
        - --entrypoints=Name:https Address::443 TLS
        - --defaultentrypoints=http,https
      deploy:
           mode: replicated
           replicas: 1
           placement:
               constraints:
                   - node.role == manager
      volumes:
        - "/var/run/docker.sock:/var/run/docker.sock"
    apache:
      labels:
        type: httpd
      image: httpd:2.4-alpine
      deploy:
        replicas: 4
        update_config:
          parallelism: 2
          order: start-first
          failure_action: rollback
          delay: 10s
        rollback_config:
          parallelism: 0
          order: stop-first
        restart_policy:
          condition: any
          delay: 5s
          max_attempts: 3
          window: 120s
      configs:
        - source: httpd-conf
          target: /usr/local/apache2/conf/httpd.conf
      environment:
        DOCUMENTROOT: /var/www/html/${DOCUMENTROOT}
        PHPSERVER: phpserver
      volumes:
        - type: bind
          source: ${HOST_PROJECT_DIR}
          target: /var/www/html
          read_only: true
      ports:
        - '${HOST_PORT}:80'
      networks:
        - phpfpmnetwork
      healthcheck:
        test: ["CMD", "service", "httpd", "status"]
    phpserver:
      user: ${ACTIVE_USER}
      labels:
        type: php
      image: ${PHP_IMAGE}
      deploy:
        replicas: 1
      configs:
        - source: php-ini
          target: /usr/local/etc/php/php.ini
        - source: php-fpm
          target: /usr/local/etc/php-fpm.conf
          volumes:
            - type: volume
              source: ${HOST_PROJECT_DIR}
              target: /var/www/html
      environment:
        XDEBUG_CONFIG: $XDEBUG_CONFIG
      networks:
        phpfpmnetwork:
    memcached:
      image: memcached:1.6.5-alpine
      deploy:
        replicas: 1
      networks:
        - phpfpmnetwork
    database:
      labels:
        type: database
      image: ${MY_IMAGE}
      deploy:
        replicas: 1
      environment:
        MYSQL_DATABASE: ${DATABASE}
        MYSQL_USER: ${DATABASE_USER}
        MYSQL_PASSWORD: ${DATABASE_PASSWORD}
        MYSQL_ROOT_PASSWORD_FILE: /run/secrets/mysql_root_password
      volumes:
        - type: bind
          source: ${MY_CNF}
          target: /var/lib/mysql
      configs:
        - source: ${MY_CNF}
          target: /etc/mysql/my.cnf
      secrets:
        - mysql_root_password
      ports:
        - '${DATABASE_PORT}:3306'
      networks:
        phpfpmnetwork:
          aliases:
            - database

  networks:
    phpfpmnetwork:

  configs:
    httpd-conf:
      file: ${APACHE_CONF}
    php-ini:
      file: ${PHP_INI}
    php-fpm:
      file: ${PHP_FPM}
    mysql-conf:
      file: ${MY_CNF}

  secrets:
    mysql_root_password:
      file: ${MY_PWD}
  volumes:
    mysql_data:
      #external: true
      name: phpapachemysql_mysql

      